{% extends "layout.html" %}
{% block content %}
<br>
<h1>Hello World!</h1>

<canvas id="chart"></canvas>

<script>
window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)'
};

var chartDatas = {
    type: 'bar',
    data: {
        labels: [
            {% for label in labels %}
                "{{label}}",
            {% endfor %}
        ],
        datasets: [{
            label: 'PCR検査陽性者人数',
            type: 'line',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            yAxisID: 'y-axis-1',
            data: [
                {% for data in datas[0] %}
                    {{data}},
                {% endfor %}
            ],
            fill: false,
        }, {
            label: 'PCR検査人数',
            type: 'line',
            fill: false,
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            yAxisID: 'y-axis-2',
            data: [
                {% for data in datas[1] %}
                    {{data}},
                {% endfor %}
            ],
        }, {
            label: '重症者数累計',
            type: 'bar',
            fill: false,
            backgroundColor: window.chartColors.orange,
            borderColor: window.chartColors.orange,
            yAxisID: 'y-axis-2',
            data: [
                {% for data in datas[2] %}
                    {{data}},
                {% endfor %}
            ],
        }, {
            label: '死亡者数合計',
            type: 'bar',
            fill: false,
            backgroundColor: window.chartColors.grey,
            borderColor: window.chartColors.grey,
            yAxisID: 'y-axis-1',
            data: [
                {% for data in datas[3] %}
                    {{data}},
                {% endfor %}
            ],
        }]
    },
    options: {
        responsive: true,
        title: {
            display: true,
            text: '日本の感染状況'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: '日付'
                }
            }],
            yAxes: [{
                display: true,
                position: 'left',
                id: 'y-axis-1',
                scaleLabel: {
                    display: true,
                    labelString: '人数'
                }
            },{
                display: true,
                position: 'right',
                id: 'y-axis-2',
                scaleLabel: {
                    display: true,
                    labelString: '人数'
                }
            }
            ]
        }
    }
};
var mychart = document.getElementById("chart");
var chart = new Chart(mychart, chartDatas);
</script>
{% endblock %}